div {
	/* border: 0.05px solid red; */
}

.pointer {
	cursor: pointer;
}

.filter {
	background-color: rgb(233, 232, 232);
}

.body {
	height: 100vh;
}

.list {
	border-right: 1px solid rgb(233, 232, 232);
  animation: fade 1s ease-in;
}

.itemlist {
	border-bottom: 1px solid rgb(233, 232, 232);
}

.itemlist:hover {
	background-color: rgb(216, 214, 214);
}

.preview {
	animation: fade 1s ease-in;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
